{% extends 'base.html' %}

{% block body %}

{% include 'header.html' %}

<div class="rellax">

  <div class="row1 roww">
    <p class="font-weight-bold h1">Tvorím minimalistické prezentačné stránky priamo na mieru</p>
    <div class="svg-monitor">
      {% include 'monitor.svg' %}
    </div>
  </div>


  <div class="row2 roww">
    <div class="svg-house">
      {% include 'house.svg' %}
    </div>
    <p class="font-weight-bold h1">Vhodné pre malé a stredné podniky, reštaurácie, fotografov...</p>
  </div>

  <div class="row4 roww">
    <p class="h2">Projekty hádžem na serverless platformu, hosting Vás bude stáť <strong>pár centov ročne</strong><br><br>
      Celková cena bude <strong>doména</strong> (okolo 10€) <strong>+ moja práca</strong></p>
    <div class="svg-dollar">
      {% include 'dollar.svg' %}
    </div>
  </div>

  <div class="post-card">
    <a href="{{ url_for('post1') }}"><img src="{{ url_for('static', filename='images/gcp.png') }}" alt="Google Cloud Platform"></a>
    <div class="post-card-desc">
      <a href="{{ url_for('post1') }}" class="text-decoration-none text-reset"><h3 class="h2">Vlastn&yacute; web/blog za p&aacute;r centov mesačne?</h3></a>
      <p>Platforma Google Cloud pon&uacute;ka mnoho produktov. N&aacute;s najviac zauj&iacute;maj&uacute; produkty kateg&oacute;rie <strong>Free Tier</strong>. Google pon&uacute;ka vlastn&yacute; VPC (Virtual Private Cloud, obdoba VPS) prakticky zadarmo...</p>
    </div>
  </div>

  <div class="row3 roww">
    <p class="font-weight-bold h1">Môj stack:</p>
    <div class="svg-stack-grid">
    {% include 'css.svg' %}
    {% include 'html.svg' %}
    {% include 'js.svg' %}
    {% include 'django.svg' %}
    </div>
  </div>

  

  

  <div class="row5">
    <form action="/form" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Správa</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Napíš mi niečo..." required>{% if message %} {{ message }} {% endif %}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

{% include 'footer.html' %}

{% endblock %}
